.main-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
}

.content-container{
  width: 700px;
  text-align: center;
}

h2{
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
  font-family: Oswald, Arial;
}

p{
  color: white;
  font-family: Oswald, Arial;
  line-height: 50px;
  font-size: 35px;
}
